<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="views/recipe.css">
    <script src="views/recipe.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->


</head>
<!-- 
<% if(user) { %>
<h2><%= user %></h2>
<% } else{%>
<h2>not auth</h2>
<% } %> 
-->

<body>

    <div id="mySidenav2" class="sidenav2">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
        <% if(user) { %>
        <a href="#" style="text-decoration: underline;">Your Shopping List</a>

        <div class="search_area">
            <form action="/pantry/add">
                <input id="addIgd" type="text" placeholder="add items" name="ingredient">
            </form>
        </div>

        <div class="indItem">ing items 1<a href="#"> X </a></div>
        <div class="indItem">ing items 2<a href="#"> X </a></div>
        <div class="indItem">ing items 3<a href="#"> X </a></div>
        <div class="indItem">ing items 4<a href="#"> X </a></div>
        <div class="indItem">ing items 5<a href="#"> X </a></div>
        <% } else{%>
        <a href="#">login</a>
        <% } %>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if(user) { %>
        <a href="#" style="text-decoration: underline;">Your Pantry Items</a>

        <div class="search_area">
            <form action="/pantry/add">
                <input id="addIgd" type="text" placeholder="add items" name="ingredient">
            </form>
        </div>
        <% var items = user.pantry.split(', ')%>
        <% for(var i = 0; i < items.length-1; i++){ %>
        <div class="indItem"><%= items[i]%><a href="/pantry/remove/<%= items[i]%>"> X </a></div>
        <% } %>
        <% } else{%>
        <a href="#">login</a>
        <% } %>

    </div>


    <div id="main">
        <span id="pantryLst" onclick="openNav()">&#9776; Pantry List</span>
        <span id="shoppingLstNavBar" onclick="openNav2()">&#9776; Shopping List</span>
        <div id="content" style="clear: both;margin: auto">
            <div id="text">
                <a href="/">
                    <div id="logo">|Foodee|</div>
                </a>
                <% if(user) { %>
                <img id="user_picture" src=<%= user.picture%> alt="Avatar" height="150" width="150">
                <div id="Login" class="username"><%= user.username%></div>

                <% } else{%>
                <a href="/auth/google">
                    <img id="user_picture"
                        src="https://www.edigitalagency.com.au/wp-content/uploads/google-logo-icon-PNG-Transparent-Background-letter-G-multiple-colors.png"
                        width="100">
                    <br>
                    <img src="/views/google.png" width="200">
                </a>
                <% } %>
            </div>

            <div>
                <form action="/search">
                    <input id="searchIgd" type="text" placeholder="Search Ingredients" name="search">
                </form>
            </div>

            <a href="/recipe" class="recipe_a">
                <div class="recipe">
                    <div class="recipe_title">
                        This is the title of a recipe lkasdjfklas ldfjlkasjdklf jlkasjdlkf jaslkdjflkajslkdfj
                        asdfkjlkasdj flkasjdflkaj sdlfkjaslkdfj laskdjfklasjdf lkasjlfkj aslkdf
                    </div>

                    <div class="recipe_ing">
                        <%= recipe[0].ingredients%>
                    </div>
                </div>
            </a>

            <a href="" class="recipe_a">
                <div class="recipe">
                    <div class="recipe_title">
                        This is the title of a recipe lkasdjfklas ldfjlkasjdklf jlkasjdlkf jaslkdjflkajslkdfj
                        asdfkjlkasdj flkasjdflkaj sdlfkjaslkdfj laskdjfklasjdf lkasjlfkj aslkdf
                    </div>

                    <div class="recipe_ing">
                        aksldf, asdf, asdf, asdf, asdf
                    </div>
                </div>
            </a>
            <br>
            <br>
        </div>

        <div class="footer">
            <a href="views/recommend.html" class="contribute">Create New Recipe</a>
            <a href="/" class="contribute">Your Created Recipe</a>
            <a href="/" class="contribute">Your Saved Recipes</a>
        </div>
    </div>

</body>

</html>